* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#value {
    width: 100%;
    height: 300px;
    background-color: #333;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    padding: 10px 20px;
    font-family: monospace;
    border-radius: 10px;
}

section {
    background-color: #9fcf1c;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 1rem;
    flex-direction: column;
    border-radius: 20px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #666c37ff;
}

.cta-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    padding: 0 10px;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border-radius: 10px;
}