* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #FFFFFF;
    --dust-grey: #093A3E;
    --blue-slate: #59656F;
    --grape-soda: #9C528B;
    --shadow-grey: #1D1E2C;
    --border-color: #767b78;
}

#value {
    width: 100%;
    height: 200px;
    background-color: var(--shadow-grey);
    color: var(--white);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-family: monospace;
    border-radius: 10px;
    border: 1px solid var(--border-color);
}

section {
    background-color: var(--dust-grey);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
    flex-direction: column;
    border-radius: 20px;
    border: 1px solid var(--border-color);

}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #515052;
}

.cta-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    gap: 1rem;
}

button {
    padding: 10px 20px;
    background-color: var(--shadow-grey);
    color: #fff;
    border-radius: 10px;
    border: 1px solid var(--border-color);
    cursor: pointer;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

}

button i  {
    font-size: 1.2rem;
}